body{
 background-color: rgb(189, 101, 79);
color:rgb(189, 111, 59)
     
}

.cabecalho {
       background-image: url('./img/img\ gg.png');
       height: 200px;
       background-repeat: no-repeat;
       background-size: cover;
      font-size: 40px;
      text-align:  center;
}