body{
 background-color: rgba(243, 199, 116, 0.664);
color:rgb(0, 0, 0)
     
}

.cabecalho {
       background-image: url('./img/img\ gg.png');
       height: 200px;
       background-repeat: no-repeat;
       background-size: cover;
      font-size: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
}
.titulo{
    font-size: 100px;
    color: aliceblue;
    
}
.conteudo{
    font-size: 64px;
    display:flex;
    justify-content: space-between;
    padding: 20px 30px;

} 
.coluna2{
    width: 330px;
    font-size: 40px;
    background-color: rgb(233, 53, 53);
    display: flex;
    align-items: center;
    line-height: 80px;
    color: aliceblue;
}
.coluna1-img{
   width: 300px;
   border-image: 300px;
}