body{
 background-color: rgba(243, 199, 116, 0.664);
color:rgb(0, 0, 0)
     
}

.cabecalho {
       background-image: url('./img/img\ gg.png');
       height: 200px;
       background-repeat: no-repeat;
       background-size: cover;
      font-size: 40px;
      text-align:  center;
}
.titulo{
    padding-top: 70px;
}
.conteudo{
    font-size: 64px;
    display:flex;
    background-color: rgb(233, 53, 53);
    justify-content: center;
}

.coluna2{
    width: 50px;
    font-size: 50px;
}